          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add Task</h4>
                  <p class="card-category">Create New Task</p>
                </div>
                <div class="card-body">
                  <form id="addUser" method="POST">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label>Task Title</label>
                          <input type="text" name="task_title" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label>Task Title</label>
                          <input type="date" name="due_date" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label>Description</label>
                          <input type="textarea" name="description" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Task</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
<script type="text/javascript">
	$(document).ready(function(){
	$("#addUser").submit(function(e){
	  e.preventDefault();
	  var r = confirm("Are you Sure!");
	  if (r == true) {
      var token = $.cookie("token");
	  	var ajaxData = $("#addUser").serialize();
	  $.ajax({
	    type: "POST",
	      url: `/createTask`,
	      data: ajaxData,
        beforeSend: function(xhr){xhr.setRequestHeader('authorization', token);},
	      datatype:'json',
	      success: function (res) {
          location.replace("/taskList");
	      }
	    });
	  } else {
	    return false;
	  }
	});
})
</script>